<% if user_signed_in? %>
	<%= render 'signinpage' %>
<%else %>

<div class="container-fluid">
	<body>
		<div class="row-fluid">
			<div class="homepagepic">
			    <%= image_tag("homepagepic.png", :alt => "")%>
			 </div>
			 <div>
			 <p>
  				<%= link_to "Brands", new_user_registration_path, class: "btn btn-large btn-primary" %>
			</p>   
			<p>
  				<button class="btn btn-large btn-primary btn-presenter" type="button">Presenters</button>
  			</p>
			<div>
				<h1 class="title"> BrandSlip</h1>
				<p class="summarywords">Marketplace for speakers and presenters to give brands exposure.</p>
			</div>

			</div> 
		    </div>
	    </div>
    </body>
</div>
<% end %>



